.AboutUs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;




    padding-inline: 92px;
    margin-left: var(--margin-column);
    margin-right: var(--margin-column);
}

.AboutUs>div{
    padding-top: 92px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-us-intro {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y)* -1);
    margin-right: calc(var(--bs-gutter-x)* -0.5);
    margin-left: calc(var(--bs-gutter-x)* -0.5);
    margin-bottom: 80px;

    flex-shrink: 0;
    box-sizing: border-box;
    overflow-wrap: break-word;
}


.about-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    width: 33.333333%;
    max-width: 100%;
    position: relative !important;

}

.about-card>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;

    padding-right: 3rem !important;
    padding-left: 3rem !important;
}



.about-card svg {
    width: 62px;
    height: 62px;
    margin-bottom: 24px;
    color: var(--hype-color-02);
}

.about-card h3 {
    font-size: 21px;
    font-weight: 600;
    color: var(--hype-color-03-variant-01);
    margin-bottom: var(--hype-margin-small);
}

.about-card p {
    font-size: 14px;
    font-weight: 400;
    color: var(--hype-color-03-variant-02);

    margin-bottom: var(--hype-margin-medium);
}


.vertical-dark {
    background-color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
    border-bottom-color: rgb(103, 116, 142);
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(103, 116, 142);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(103, 116, 142);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(103, 116, 142);
    border-top-style: none;
    border-top-width: 0px;
    box-sizing: border-box;
    color: rgb(103, 116, 142);
    cursor: pointer;
    display: block;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    height: 201.5px;
    line-height: 25.6px;
    margin-block-end: 16px;
    margin-block-start: 16px;
    margin-bottom: 16px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 16px;
    opacity: 0.25;
    overflow-wrap: break-word;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    right: 0px;
    text-size-adjust: 100%;
    top: 0px;
    unicode-bidi: isolate;
    width: 1px;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

}



.about-us-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;

    flex: 0 0 auto;
    width: 66.666667%;
    margin-top: var(--hype-margin-large);
}


.about-us-info h2{
    font-size: 38px;
    margin-bottom: var(--hype-margin-large);
    color: #344767;
}
.about-us-info p{
    margin-bottom: var(--hype-margin-large);
    color: #344767;
    font-weight: 400;
}







@media screen and (max-width: 880px) {

    .AboutUs {
        padding-top: 0;
    }
}

@media screen and (max-width: 680px) {

    .AboutUs {
        padding-top: 0;
    }

    .about-card {
        flex-shrink: 0;
        width: 100%;
        max-width: 100%;
        padding-right: calc(var(--bs-gutter-x)* 0.5);
        padding-left: calc(var(--bs-gutter-x)* 0.5);
        margin-top: var(--hype-margin-large);
    }
}