.portfolio-container {
    background-color: #F3F4F8;
    width: 100%;
    height: auto;

    color: black;

    padding: 92px var(--margin-column);

    display: flex;
    flex-direction: column;
    align-items: center;

}
