.portfolio-container {
    background-color: #F3F4F8;
    width: 100%;
    height: auto;

    color: black;

    padding: 92px var(--margin-column);

    display: flex;
    flex-direction: column;
    align-items: center;

}

.title-portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;

}

.title-portfolio>h2 {
    color: #262A3F;

    font-size: 32px;
}

.title-portfolio>p {
    color: #7d7c7c;

    font-size: 16px;
}







.projects-container {
    width: 1000px;
    height: auto;
    --gap-projects: 24px;
}








.latest-projects ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--gap-projects);
    width: 100%;
}

.latest-projects ul li {
    width: 100%;
    height: auto;
    cursor: pointer;

    margin-bottom: 72px;

    transition: all 0.3s ease-in-out;
}

.latest-projects ul li a {
    text-decoration: none;
}

.latest-projects ul li:hover .portfolio-card-image-container .card-body {
    opacity: 1;
    visibility: visible;
}




.portfolio-card-image-container {
    width: 100%;
    height: 300px;
    position: relative;
}

.card-body {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: #1f3d470b;
    backdrop-filter: blur(5px);

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;

    transition: all 0.3s ease-in-out;
}

.card-body>span {
    display: flex;
    width: auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;


    padding: 2px 4px;
    color: white;
    gap: 8px;
}



.portfolio-card-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.2s ease-in-out;
}



.portoflio-card-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;

    height: 120px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.245);

    padding: 24px 18px;


}


.portoflio-card-title-container>h2 {
    font-size: 16px;
    margin-bottom: 8px;

    color: #262a3f;
}


.portoflio-card-title-container>p {
    font-size: 14px;
    font-weight: 500;

    color: #4e4c4ce6;
}






.slider-container-portoflio {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.slider-container-portoflio .carousel-cards {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    list-style: none;

}


.carousel-cards .card-page{
    display: none;
    
    transition: all 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
}
.carousel-cards .card-page.active{
    display: flex;
    opacity: 1;
    visibility: visible;
}

.slider-container-portoflio .carousel-cards > ul{
    width: 100%;
    height: auto;

    flex-direction: row;
    list-style: none;
    
}

.carousel-cards>ul>li {
    position: relative;
    flex: 1;
    height: 150px;
    cursor: pointer;
}

.carousel-cards>ul>li> a {
    text-decoration: none;
    width: 100%;

}


.carousel-cards>ul>li:not(:last-child) {
    margin-right: 24px;
}
.carousel-cards>ul>li> a >img {
    width: 100%;
    height: 100%;
}


.carousel-control-container {
    display: flex;
    margin-top: 24px;
}

.carousel-control-container>input {
    display: none;
}

.carousel-control-container>label {
    margin-right: 8px;
    background-color: #4F6B83;
    width: 14px;
    height: 14px;

    border-radius: 180px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.carousel-control-container>label.active {

    background-color: #01BC9C;

}

.slider-container-portoflio>ul>li:hover .card-body, .carousel-cards li:hover .card-body {
    opacity: 1;
    visibility: visible;
}



