.portfolio-container {
    background-color: #F3F4F8;
    width: 100%;
    height: auto;

    color: black;

    padding-inline: var(--margin-column);

    display: flex;
    flex-direction: column;
    align-items: center;

}

.projects-container {
    width: 100%;
    height: auto;
    --gap-projects: 24px;
}

.latest-projects ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--gap-projects);
    width: 100%;
}

.latest-projects ul li {
    width: 100%;
    height: auto;
    cursor: pointer;

    margin-bottom: 72px;

    transition: all 0.3s ease-in-out;
}

.latest-projects ul li a {
    text-decoration: none;
}

.latest-projects ul li:hover .portfolio-card-image-container .card-body {
    opacity: 1;
    visibility: visible;
}




.portfolio-card-image-container {
    width: 100%;
    height: 300px;
    position: relative;
}

.card-body {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: #1f3d470b;
    backdrop-filter: blur(5px);

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;

    transition: all 0.3s ease-in-out;
}

.card-body>span {
    display: flex;
    width: auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;


    padding: 8px 16px;
    color: white;
    gap: 8px;

    background-color: rgba(0, 0, 0, 0.618);
}



.portfolio-card-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.2s ease-in-out;
}



.portoflio-card-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;

    height: 120px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.245);

    padding: 24px 18px;


}


.portoflio-card-title-container>h2 {
    font-size: 16px;
    margin-bottom: 8px;

    color: #262a3f;
}


.portoflio-card-title-container>p {
    font-size: 14px;
    font-weight: 500;

    color: #4e4c4ce6;
}






.slider-container-portoflio {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.slider-container-portoflio .carousel-cards {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    list-style: none;
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;
    gap: 24px;
}

.carousel-cards::-webkit-scrollbar {
    display: none;
}

.carousel-cards .card-page {
    display: flex;
    flex-direction: row;
    transition: all 0.3s ease-in-out;


    scroll-snap-align: start;
    scroll-snap-stop: always;

    min-width: 100%;
}





.slider-container-portoflio .carousel-cards>ul {
    width: 100%;
    height: auto;
    flex-direction: row;
    list-style: none;
}

.carousel-cards>ul>li {
    position: relative;
    flex: 1;
    height: 300px;
    cursor: pointer;
}

.carousel-cards>ul>li>a {
    text-decoration: none;
    width: 100%;

}


.carousel-cards>ul>li:not(:last-child) {
    margin-right: 24px;
}

.carousel-cards>ul>li>a>img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}


.carousel-control-container {
    display: flex;
    margin-top: 24px;
}

.carousel-control-container>input {
    display: none;
}

.carousel-control-container>label {
    margin-right: 8px;
    background-color: var(--hype-color-03-variant-02);
    width: 14px;
    height: 14px;

    border-radius: 180px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.carousel-control-container>label.active {

    background-color: var(--hype-color-02);

}

.slider-container-portoflio>ul>li:hover .card-body, .carousel-cards li:hover .card-body {
    opacity: 1;
    visibility: visible;
}


.filter-carousel{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-bottom: 40px;
}
.filter-carousel > span{
    font-size: 18px;


    border: solid 1px black;

    padding: 2px 16px;

    cursor: pointer;
}
.filter-carousel > span:hover{
    background-color: var(--hype-color-03);
    color: white;
}
.filter-carousel > span.active{
    background-color: var(--hype-color-03);
    color: white;
}


.filter-carousel > span:not(:last-child){
    margin-right: 24px;
}




@media screen and (max-width: 700px) {
    .latest-projects>ul {
        flex-direction: column;
    }

    .filter-carousel > span{
        font-size: 16px;
        padding: 8px 16px;
    }
    .filter-carousel > span:not(:last-child){
        margin-right: 8px;
    }
}