.home {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;

  overflow: hidden;

}


.background-tags {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../../assets/imgs/svgs/HeroTags.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  margin-top: var(--nav-height);

  z-index: 2;
}


.home>header {
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: row;
  position: relative;

}

.btn-down-container {
  position: absolute;
  height: auto;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  -webkit-tap-highlight-color: transparent;

  z-index: 10;

  left: 0;
  right: 0;
}


.landing-page>div {
  display: flex;
  flex-direction: row;
  height: auto;
  color: #9f9fa3;
}


.bro-code-container {
  display: none;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding-top: var(--nav-height);
  position: relative;

  padding-left: 24px;

}

.bro-code-container svg {
  width: 580px;
  height: auto;
  object-fit: contain;
  transition: all 3s ease-in-out;
  z-index: 4;

  -webkit-animation: slide-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  transition: opacity 5s ease-in-out;
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}





.info-header-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  justify-content: center;
  flex: 0.5;
  height: auto;

  color: black;

  padding-left: var(--margin-column);


  padding-top: var(--nav-height);

  z-index: 5;
  -webkit-animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  transition: opacity 5s ease-in-out;
}


@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-80px);
    transform: translateX(-80px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}




.info-header-container>div {
  z-index: 2;

}

.info-header-container>div>p {
  font-size: var(--hype-typography-hero-p-fontsize);
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: bold;

  background: linear-gradient(to right, #FE0000, #005FFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-wrap: nowrap;
}







.info-header-container>div>h1 {
  font-family: "Poppins", sans-serif;
  font-size: var(--hype-typography-hero-h1-fontsize);
  font-weight: 800;
  font-style: normal;
  color: var(--hype-color-03);
  text-wrap: nowrap;
}

.info-header-container>p {
  margin-top: 8px;
  font-size: var(--hype-typography-p-fontsize);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: var(--hype-color-03-variant-02);

  height: 80px;
}




#headerMoreBtn svg path {
  fill: var(--hype-background-color-one);
}







@media screen and (max-width: 480px) {
  .info-header-container {
    min-height: 700px;
  }
}

@media screen and (max-width: 600px) {
  #headerMoreBtn svg path {
    fill: rgb(255, 255, 255);
  }


  .home>header {
    background-color: #131316;
  }

  .info-header-container>div>h1 {
    color: white;
  }

  .info-header-container>p {
    color: var(--hype-color-03-variant-05);
  }

  .btn::after {
    background-color: #FFFFF0;
    color: black;
  }

  header {
    min-height: 600px;
  }
}

@media screen and (min-width: 1080px) {

  .bro-code-container {
    display: flex;

  }

  .info-header-container {
    width: 480px;
  }

  .bro-code-container svg {

    width: 100%;
  }


  .background-tags {
    left: 500px;

  }
}



@media screen and (min-width: 1280px) {
  .bro-code-container svg {

    width: 90%;
  }

  .info-header-container {
    min-width: 580px;
    width: 40%;
  }


}



@media screen and (min-width: 1400px) {
  .bro-code-container svg {
    width: 80%;
  }

}


@media screen and (min-width: 1600px) {
  .bro-code-container svg {
    width: 80%;
  }
}

.home>main {

  width: 100%;
  z-index: 2;


}



.btn {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1.5rem;
  background-color: white;
  color: #000000;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  align-items: center;

  user-select: none;
  gap: 0.75rem;
  box-shadow: 0 4px 6px -1px #2e2e2e31, 0 2px 4px -1px #43434317;
  transition: transform .6s ease;

  cursor: pointer;
}

.btn:focus {
  opacity: .85;
  box-shadow: none;
}

.btn:hover {
  box-shadow: 0 10px 15px -3px #ffffff4f, 0 4px 6px -2px #ffffff17;
  transform: scale(1.05);
}

.btn:active {
  opacity: .85;
  box-shadow: none;
  transform: scale(1.0);
  background-color: black;
  color: white;

}

@media (min-width: 600px) {
  .btn {
    background-color: var(--hype-color-03);
    color: white;
  }

}

@media (min-width: 768px) {
  .btn {
    min-width: 170px;
  }

}