footer {
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-inline: var(--margin-column);
    padding-block: 48px;
    color: var(--hype-color-03-variant-01);

}


footer p {
    font-size: 16px;
    font-weight: 400;
    color: var(--hype-color-03-variant-01);
    transition: all 0.3s ease-in-out;
}




.footer-social-medias {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 24px;
}



.footer-social-medias ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 48px;
    list-style-type: none;
}

.footer-social-medias ul li {
    cursor: pointer;
    transition: all 0.3s ease-in-out;

}

.footer-social-medias ul li a {
    color: var(--hype-color-03-variant-01);
}

.footer-social-medias ul li:hover, .footer-social-medias ul li:hover p , .footer-social-medias ul li:hover a{
    color: var(--hype-color-02);
    transform: scale(1.1);
}



.footer-social-medias ul li p {
    white-space: nowrap;
}

.footer-social-medias ul li svg {
    width: 32px;
    height: 32px;
}


@media screen and (max-width: 480px) {
    footer p {
        font-size: 14px;
    }

    footer>p {
        font-size: 12px;
    }

    .footer-social-medias ul {
        gap: 18px;
    }

    .footer-social-medias ul li svg {
        width: 28px;
        height: 28px;
    }



    footer  ul{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}